# Byte-compiled / caches
__pycache__/
*.py[cod]

# Virtualenvs
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Packaging
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# Env
.env
.env.*.local
backend/.env
backend/.env
